.search {
  width: 100%;
  padding: 70px 70px 10px;
}

.search__container{
  border-bottom: 1px solid #AAAAAA;
}

.search__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1.5px solid #AAAAAA;
  border-radius: 8px;
  margin: 0 0 27px;
  gap: 10px;
}

.search__label {
  width: 100%;
  padding: 25px 0 25px 25px;
  
}

.search__input {
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  background-color: transparent;
  display: block;
  width: 100%;
}

.search__btn {
  width: 100px;
  height: 52px;
  background: #4285F4;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  margin: 10px 10px 10px 0;
  border: none;
}

.search__toggle {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 44px;
}

.search__tumbler {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 36px;
  border-radius: 20px;
}

.search__checkbox {
  display: none;
}

.search__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #e8e8e8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search__slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background-color: #2BE080;
  border: 1px solid #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search__checkbox:checked + .search__slider {
  background-color: #343434;
}

.search__checkbox:checked + .search__slider::before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.search__films {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
  text-align: left;
} 

@media (max-width: 768px) {
  .search {
    padding-right: 30px;
    padding-left: 30px;
  }

  .search__toggle {
    margin-bottom: 52px;
  }
}

@media (max-width: 540px) {
.search {
  padding-right: 14px;
  padding-left: 14px;
}

  .search__toggle {
    margin-bottom: 64px;
    gap: 13px;
  }

  .search__btn {
    width: 80px;
    height: 44px;
    margin-top: 6px;
    margin-right: 6px;
    margin-left: 6px;
  }

  .search__form {
    gap: 6px;
  }

  .search__label {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
  }

  .search__input {
    font-size: 16px;
    line-height: 16px;
  }

  .search__films {
    font-size: 11px;
  }

  .search__form {
    margin-bottom: 31px;
  }
}