.about-project {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-right: 70px;
  padding-bottom: 110px;
  padding-left: 70px;
  width: 100%;
}

.about-project__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  border-bottom: 1px solid #DADADA;
  margin: 0;
  padding-bottom: 23px;
}

.about-project__info-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 110px;
  padding-top: 70px;
}

.about-project__info-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 26px;
  margin-left: 0;
}

.about-project__info-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
}

.about-project__timeline-container {
  display: flex;
}

.about-project__timeline-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background-color: #303030;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 14px;
  margin-left: 0;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 14px;
}

.about-project__timeline-description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
  margin: 0;
}

.about-project__timeline-heading_type_green {
  background: #3DDC84;
  color: #000000;
}
.about-project__timeline-backend {
  flex: 2 1;
}

.about-project__timeline-frontend {
  flex: 8 1;
}

@media (max-width: 768px) {
  .about-project {
    padding-top: 90px;
    padding-right: 50px;
    padding-bottom: 90px;
    padding-left: 50px;
  }

  .about-project__info-container {
    margin-bottom: 93px;
    gap: 30px;
  }

  .about-project__info-heading {
    margin-bottom: 22px;
  }

  .about-project__info-description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__timeline-heading {
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
  }
}

@media (max-width: 500px) {
  .about-project {
    padding-top: 70px;
    padding-right: 18px;
    padding-bottom: 70px;
    padding-left: 18px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .about-project__info-container {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-bottom: 60px;
    padding-top: 60px;
  }

  .about-project__info-heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .about-project__info-description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline-heading {
    line-height: 13px;
    font-size: 11px;
    margin-bottom: 9px;
    padding: 11px 10px;
  }

  .about-project__timeline-description {
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__timeline-backend {
    flex: 1 1;
  }

  .about-project__timeline-frontend {
    flex: 2 1;
  }
}