@import url('./vendor/fonts/fonts.css');
@import url('./vendor/normalize.css');

/* #root {
  background: hsla(0, 0%, 13%, 1);
} */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}